body {
  padding-top: 10px;
  background: url(img/bg.jpg) no-repeat center fixed;
  background-size: cover; 
    /* background-size: 100% auto;*/
}

h1 {
	 text-align :center; 
	color : blue;
}

legend {
    font-weight: bold;
    color: #0568CD;
}


/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
    font-height :2px;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
.lolo {
	border : 5px inset #406FA4;
	background-color: rgba(5, 5, 1, 0.6);	
	padding : 50px;

}
.helmet {
	
}