
body {
  padding-top: 10px;
  background: url(img/bg.jpg) no-repeat center fixed;
  background-size: cover; 
    /* background-size: 100% auto;*/
}

h1
 {
	 text-align :center; 
	color: #0568CD;
}
h3 {
	color: #0568CD;
}

legend {
    font-weight: bold;
    color: #0568CD;
    text-align : center;
}


/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
    font-height :2px;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
.lolo {
	border : 5px inset #406FA4;
	background-color: rgba(5, 5, 1, 0.6);	
	padding : 50px;
}
.lolo,label {
	color : White;
}
.helmet {
	margin-top : 25px;
	margin-bottom : 24px;
}
.messageP {
	margin-bottom : 15px;
}
.newPilote {
	color: yellow ;
	margin-left : 30% ;
}
.piloteRadio {
	width : 250px ;
	height : auto;
	background-color: rgba(5, 5, 1, 0.6); 	
	border : 5px inset #406FA4;
	color : white;
}
